@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

button {
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 18px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.head-section {
	background-color: #1F2937;
	color: #E5E7EB;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head-section .container {
	display: flex;
	flex-direction: column;
	width: min-content;
}

.navbar .links {
	display: flex;
	gap: 20px;
}

.navbar a {
	color: #E5E7EB;
}

.navbar .logo {
	font-size: 24px;
	color: #F9FAF8;
	font-weight: bold;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	margin-bottom: 50px;
}

h1 {
	font-size: 48px;
	font-weight: extra-bold;
	color: #F9FAF8;
}

.img-placeholder {
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 300px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	gap: 30px;
}

.header .sign-up {
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
}

.information-section h3 {
	font-size: 36px;
	font-weight: extra-bold;
	color: #1F2937;
}

.information-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 50px;
	gap: 50px;
}

.box {
	height: 200px;
	width: 200px;
	border: 5px solid #3882F6;
	border-radius: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.card-text {
	max-width: 200px;
	text-align: center;
}

.information-section .container {
	display: flex;
	gap: 30px;
}

.quote-section {
	background-color: #E5E7EB;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quote-section .container {
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.quote {
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
	color: #1F2937;
	max-width: 900px;
}

.author {
	font-weight: bold;
	align-self: flex-end;
	font-size: 20px;
}

.action-section {
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	height: 400px;
}

.action-section .container {
	background-color: #3882F6;
	color: #F9FAF8;
	padding: 40px 60px;
	display: flex;
	justify-content: space-between;
	width: 75%;
	border-radius: 10px;
}

.action-section button {
	background-color: #3882F6;
	border: 3px solid #E5E7EB;
	font-weight: bold;
	padding: 10px 50px;
	border-radius: 10px;
}