@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
}

button {
	background-color: #3882F6;
	color: #E5E7EB;
	font-size: 18px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.head-section {
	background-color: #1F2937;
	color: #E5E7EB;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar .links {
	display: flex;
	gap: 20px;
}

.navbar a {
	color: #E5E7EB;
}

.navbar .logo {
	font-size: 24px;
	color: #F9FAF8;
	font-weight: bold;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	margin-bottom: 50px;
}

h1 {
	font-size: 48px;
	font-weight: extra-bold;
	color: #F9FAF8;
}

.img-placeholder {
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 300px;
}

.header {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	gap: 30px;
}

.header .sign-up {
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
}